<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <log4net>
    <root>
      <level value="INFO" xdt:Transform="SetAttributes" />
      <appender-ref xdt:Transform="RemoveAll"/>
      <appender-ref ref="RollingFileAppender" xdt:Transform="Insert"/>
    </root>
    <logger xdt:Transform="RemoveAll" />
    <logger name="NHibernate" additivity="true" xdt:Transform="Insert">
      <level value="ERROR" />
    </logger>
  </log4net>
</configuration>