@Html.ValidationSummary(false)

@*@{
    if (ViewData["Error"] != null)
    {
        var errors = (IEnumerable<ValidationFailureInfo>)ViewData["Error"];

        foreach (var info in errors)
        {
            <p class="error">@info.ErrorMessage</p>
        }
    }
}*@