@{
    ViewBag.Title = "Forbidden Page (403)";
}

<hgroup class="title">
    <h3 class="error">Forbidden Page (403)</h3>
    <h4>Sorry, we couldn't get the page you were looking for because you don't have required rights. Please <a href="javascript:history.back();" style="font-weight : bold;">try again</a> or contact system administrator.</h4>
</hgroup>

