<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Source\Ach.Fulfillment.Api\packages.config" />
  <repository path="..\Source\Ach.Fulfillment.Business\packages.config" />
  <repository path="..\Source\Ach.Fulfillment.Initialization\packages.config" />
  <repository path="..\Source\Ach.Fulfillment.Persistence\packages.config" />
  <repository path="..\Source\Ach.Fulfillment.Web\packages.config" />
  <repository path="..\Source\Ach.Fulfillment.Migrations\packages.config" />
</repositories>