@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured
{
    @RenderSection("featured", required: false)       
}
<section class="content-wrapper main-content">
@RenderBody()
</section>
@section scripts
{
    @RenderSection("scripts", required: false)
}
